h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

svg {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

#slant {
    box-sizing: border-box;
    position: relative;
}

#heading { 
    background-size: cover !important;
    padding-top:  14% !important; 
    padding-bottom: 14% !important; 
}

@media screen and (min-width: 767px) {
    h1 {
        font-size: 65px;
    }

    a.navbar-brand {
        width: 40%;
    }
    
}

@media (min-width: 200px) and (max-width: 766px) {
    h1 {
        font-size: 32px;
    }
    
    a.navbar-brand {
        width: 75%;
    }
    
}
