
.card {
    border: 0;
    margin: 1rem;
}

.card-body {
    padding: 2rem 0 2rem 0;
}


.nav-link:link, .nav-link:visited {
    color: #3f3f3f !important;

}

.nav-link:hover, .nav-link:active {
    color: #c9c9c9 !important;
}

.navigation-link:hover, .navigation-link:active {

    background-color: black;
}

/* animating navbar brand */

.navbar-brand > img:hover {
    animation: skew 1s;
    transform: skew(-15deg);
    animation-direction: normal;
}

.navbar-brand > img{
    animation: skew 2s;
    animation-name: skewBack;
    animation-direction: normal;
}
  
  @keyframes skew {
    0% {
      transform: skewX(0deg);
    }
    100% {
      transform: skewX(-15deg);
    }
  }

  @keyframes skewBack {
    0% {
      transform: skewX(-15deg);
    }
    100% {
      transform: skewX(0deg);
    }
  }

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

p {
    font-family: 'Roboto', sans-serif;
}


body > footer {
    margin-top: 7rem;
}

#slant-header svg {
    position: absolute;
    bottom: 0;
}

#slant-footer svg {
    position: absolute;
    top: 0;
}

#slant-header, #slant-footer {
    box-sizing: border-box;
    position: relative;
}

#background-image {
    position: relative;
    bottom: 5.5rem;
    z-index: 1;
}

#heading { 
    background-size: cover !important;
    padding-top:  15rem !important; 
    padding-bottom: 15rem !important; 
}

#about-me {
    font-weight: lighter;
}

#about-me, #videos, #courses, #book, #contact, #skills {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* For Extra large screens only */

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 65px;
    }
    
    a.navbar-brand {
        width: 40%;
    }

    #about-me > p{
        font-size: 40px !important;
    }

    #courses p, #videos p {
        font-size: 1.2rem;
    }

    #image-header {
        height: 28rem;   
    }

}

/* For large screens only */

@media (min-width: 767px) and (max-width: 1199px) {
    h1 {
        font-size: 60px;
    }

    a.navbar-brand {
        width: 40%;
    }
    
    #about-me  p{
        font-size: 38px !important;
    }

    #courses p, #videos p {
        font-size: 1.2rem;
    }

    #image-header {
        height: 28rem;   
    }

}

/* For small screens only */

@media screen and (max-width: 766px) {
    h1 {
        font-size: 32px;
    }
    
    a.navbar-brand {
        width: 75%;
    }
    
    #about-me > p{
        font-size: 24px !important;
    }

    #courses p, #videos p {
        font-size: 1.2rem;
    }

    #courses h2, #videos h2 {
        font-size: 1.8rem;
    }

    #image-header {
        height: 18rem;   
    }

}
