.card {
    border: 0;
    margin: 1rem;
}

.card-body {
    padding: 2rem 0 2rem 0;
}

#courses p {
    font-size: 1.4rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

p {
    font-family: 'Roboto', sans-serif;
}

svg {
    position: absolute;
    bottom: 0;
}

#slant {
    box-sizing: border-box;
    position: relative;
}

#heading { 
    background-size: cover !important;
    padding-top:  14% !important; 
    padding-bottom: 14% !important; 
}


#courses {
    padding-left: 6.8rem !important;
    padding-right: 6.8rem !important;
}


@media screen and (min-width: 1200px) {
    h1 {
        font-size: 65px;
    }
    
    a.navbar-brand {
        width: 25%;
    }

    #about-me{
        font-size: 42px !important;
    }
}

@media (min-width: 767px) and (max-width: 1199px) {
    h1 {
        font-size: 65px;
    }

    a.navbar-brand {
        width: 40%;
    }
    
    #about-me{
        font-size: 38px !important;
    }
}

@media (min-width: 200px) and (max-width: 766px) {
    h1 {
        font-size: 32px;
    }
    
    a.navbar-brand {
        width: 75%;
    }
    
    #about-me {
        font-size: 24px !important;
    }
}
